*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: serif;
}

.piedepag{
    background-color: #C8E7EA;
    color: #0693A1;
    text-align: center;
    font-size: 14px;
    padding: 15px 15px;
}